{% extends 'main/layout.html' %}
{% block title%}News{% endblock title%}
{% block body %}
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore ipsa labore, modi necessitatibus neque odio
    porro voluptatum! Aliquid consequatur culpa delectus dolorum expedita iusto laboriosam nobis suscipit, totam
    voluptatem. Ducimus?
</div>
<div>A ad aliquid amet assumenda, blanditiis debitis dolorum eius enim fugiat id, incidunt laboriosam laborum, libero
    nihil nisi non obcaecati pariatur provident quasi ratione repellendus soluta suscipit vero voluptas voluptatem?
</div>
<div>Ad autem eius iusto molestias non numquam omnis, possimus quasi sit vitae. At culpa distinctio dolor! Explicabo
    facilis fugiat hic iure non officiis optio. Accusamus amet asperiores doloribus molestias quod.
</div>
<div>Accusantium earum eveniet expedita illum labore odio pariatur provident ratione reiciendis vitae? Eaque molestias
    mollitia pariatur porro quasi tenetur voluptates. Ad adipisci aliquid assumenda cum expedita, minima quidem sapiente
    voluptates.
</div>
<div>Aut doloremque dolorum ducimus eaque facilis fugiat officiis pariatur, quidem quo veritatis. Adipisci assumenda
    atque dolore facere in nisi, nostrum numquam quaerat reiciendis. Cumque deleniti eveniet fugit provident soluta
    tenetur.
</div>
<div>Accusamus ad assumenda at autem consectetur eligendi facilis in iure nemo nihil nobis non numquam odio odit
    pariatur porro praesentium quidem, ratione reiciendis repellat totam unde veritatis! Eos, expedita, quibusdam.
</div>
<div>At commodi culpa eaque explicabo facere fuga harum, id minima nesciunt nisi odit praesentium quae quam quibusdam
    quod rerum sed, similique vitae. Accusantium alias aliquam aut eum eveniet non perferendis?
</div>
<div>Beatae cumque, dicta dolor est officia quidem rem saepe sit vel voluptas, voluptatem voluptatibus? Amet aspernatur
    atque cumque deleniti doloremque impedit ipsa iusto necessitatibus numquam, omnis pariatur repellat tempora vero.
</div>
<div>Amet dignissimos eius fuga maxime mollitia natus necessitatibus nihil non nulla praesentium repellendus repudiandae
    sapiente, temporibus, veniam vero voluptate voluptatem? Cumque dolor doloremque ipsum iste quisquam tenetur? Facilis
    quaerat, velit.
</div>
<div>Accusantium cumque debitis deleniti eaque eligendi enim inventore itaque magnam modi nam nulla obcaecati odit
    omnis, quam, quis temporibus velit voluptate. Eius excepturi id nemo, nulla sapiente sit vitae voluptas.
</div>
<div>Accusamus at atque blanditiis cum dolore, esse, facilis id impedit minus quas quibusdam quis, ratione reprehenderit
    sequi vel voluptatibus voluptatum. Aspernatur dolorem modi molestiae mollitia neque provident quaerat quos
    voluptatum.
</div>
<div>Accusamus amet architecto, aspernatur ducimus eaque eligendi enim in nostrum numquam placeat, similique sint
    veniam, veritatis! Harum ipsum perferendis quae quis sint. Accusamus autem facere laborum libero neque quo
    similique!
</div>
<div>Ab commodi cum, cupiditate dolore labore molestiae? A adipisci consequatur cumque iste neque nesciunt porro
    quibusdam. Asperiores at culpa exercitationem, facilis impedit iste pariatur perferendis quasi, quisquam sapiente
    sequi tempora?
</div>
<div>Aspernatur assumenda atque, consectetur deserunt dolor dolores esse eum excepturi expedita fugit ipsa iste minus
    molestiae necessitatibus, nisi nobis numquam omnis praesentium quam quidem quis rem, repellat similique sint ut.
</div>
<div>Accusamus accusantium ad, amet asperiores distinctio eaque eius error fugiat neque perspiciatis quae quibusdam
    sapiente temporibus totam vel vero vitae voluptatem voluptatibus. Culpa dolore ea impedit numquam omnis vitae
    voluptatem!
</div>
<div>Aliquam, beatae facilis itaque necessitatibus quis voluptas. Alias animi at commodi cumque dolorum explicabo fuga
    impedit magnam maiores neque officia perferendis possimus quas repellendus rerum, sed sunt unde. Officia, sapiente.
</div>
<div>Corporis doloremque dolorum enim eum fugit, maxime, obcaecati pariatur possimus quia quibusdam reiciendis, rem
    repellat repudiandae similique sit sunt veniam! Labore, voluptates voluptatum? Eligendi necessitatibus nobis officia
    possimus quo repellendus.
</div>
<div>Alias ea et harum illo libero sed sint. Aliquam autem deserunt esse et facere, fugiat, impedit in iure maxime
    molestiae nobis non odio officia pariatur, quidem ratione recusandae repellat soluta?
</div>
<div>Ipsam iusto possimus sed. Accusantium autem, dignissimos dolorem dolores ea eos eveniet ex facilis ipsam iure
    necessitatibus quas, quis recusandae tenetur vel. Beatae, blanditiis est praesentium qui similique veritatis vitae?
</div>
<div>A ab adipisci aliquam animi at cupiditate delectus dicta, distinctio eius eligendi exercitationem facere illum
    laborum molestias mollitia neque odit perspiciatis placeat quia quo ratione, similique ullam vitae, voluptatem
    voluptatibus.
</div>
<div>A adipisci aliquam amet aperiam asperiores aspernatur cumque doloribus, esse excepturi inventore, iusto magnam modi
    natus nesciunt nobis, nostrum possimus quaerat qui quis quisquam recusandae saepe sapiente sit ullam veniam.
</div>
<div>Aperiam consequatur, cupiditate ducimus in quam tenetur voluptatem. Adipisci alias aliquam aperiam consequatur
    dignissimos distinctio dolorem ea error, et facilis, laudantium magni maxime, possimus quidem quod quos sit vel
    veniam.
</div>
<div>Aliquid culpa cupiditate deleniti deserunt incidunt inventore nisi numquam omnis possimus suscipit. Assumenda
    consequuntur eius hic in magnam nisi porro possimus quidem voluptate! Aut consequatur dolor et, harum laborum nulla?
</div>
<div>Fugiat id magni perferendis praesentium quaerat quidem, reprehenderit? Asperiores cum delectus dignissimos, ex
    expedita fugiat labore laudantium modi officia porro possimus quam quibusdam quo repellendus reprehenderit
    voluptates voluptatum! Itaque, repellat!
</div>
<div>Ducimus magni minus provident sunt. Error ex nesciunt perspiciatis vitae. Ab animi architecto consequatur est ipsam
    ipsum, modi molestias necessitatibus perferendis quas quibusdam quisquam similique soluta tenetur velit veritatis
    voluptas!
</div>
<div>Commodi fugit harum illum repellat sed! Aut laudantium libero magnam minima, nisi nobis pariatur sit! Atque
    dignissimos ducimus eaque libero repellat unde voluptates voluptatum. Adipisci dolor neque nesciunt suscipit
    tempore.
</div>
<div>Autem blanditiis, commodi consequuntur debitis delectus dolores ea eos id inventore ipsam itaque magnam minima nam
    perferendis perspiciatis quam totam vitae. Consequatur consequuntur eligendi error est facere labore repudiandae
    tempore!
</div>
<div>Dignissimos ea eos odit officiis optio, possimus sed veniam voluptas. A aliquam asperiores at autem cumque debitis
    dolores dolorum ducimus est fugit in perspiciatis, repellendus sed similique totam veritatis voluptatum.
</div>
<div>Accusamus aliquam asperiores commodi distinctio eum harum illum, pariatur perspiciatis ratione reiciendis ullam
    velit. Consectetur earum, labore? Cum distinctio dolore, facere illum ipsum iure labore mollitia nisi perferendis
    quaerat, quod.
</div>
<div>Beatae blanditiis cumque reprehenderit saepe soluta! Aliquam atque dolores esse ipsam modi nam natus non possimus,
    quaerat saepe soluta tempora ullam voluptates! Aliquam, delectus libero omnis perspiciatis quam repellendus
    suscipit.
</div>
<div>Accusamus ad alias aliquam aspernatur dignissimos eveniet expedita fuga ipsum libero modi molestiae, natus non
    perspiciatis quam rerum sapiente temporibus ullam vel, veniam voluptas. Expedita fuga quis quod ratione veritatis!
</div>
<div>Ab, animi debitis explicabo possimus praesentium sit tempora. Ab architecto culpa cupiditate debitis deleniti
    dignissimos enim eos iure iusto nostrum officiis pariatur porro quisquam quo recusandae repellat sint, tempora.
    Eius.
</div>
<div>Architecto commodi consequuntur cupiditate dolorem, dolorum error esse explicabo fuga in inventore laborum
    laudantium modi, molestias nam praesentium qui ratione tempore totam velit, voluptatibus. Earum laboriosam mollitia
    sapiente voluptatem voluptates?
</div>
<div>Accusamus fugit nostrum perspiciatis reprehenderit temporibus? Accusamus ad adipisci architecto at aut consequatur
    debitis dolor, eaque facere id ipsam ipsum labore nostrum quibusdam rem repellendus rerum sint tempora voluptates
    voluptatibus.
</div>
<div>Cupiditate, dolor error illum nisi quae sed tempore! At ex incidunt pariatur provident quaerat reiciendis tenetur.
    Beatae cumque ducimus, earum impedit laudantium optio perferendis quae qui quod sint tempora, tenetur!
</div>
<div>Accusamus aliquid architecto delectus dolores illum ipsum itaque, labore, laudantium libero minus molestias nisi
    nulla numquam quas ratione suscipit ullam ut. Explicabo, ipsa, sunt. Delectus distinctio eveniet hic temporibus
    ullam.
</div>
<div>Dolorum est facilis natus nulla porro. Adipisci aliquam, beatae dignissimos dolorem eius eligendi error impedit
    magni minus nam natus neque nihil odio officiis omnis perferendis quisquam repellat repudiandae tenetur voluptatem!
</div>
<div>Aliquid atque aut consectetur laudantium possimus quo quos repellat! Alias architecto cum cumque dignissimos dolore
    eligendi ipsa ipsum laborum laudantium magnam modi, molestiae nemo obcaecati quae, recusandae repellendus sed sint.
</div>
<div>Adipisci aliquam, debitis distinctio ea eius eos expedita harum impedit ipsa ipsam molestias obcaecati odit omnis
    pariatur possimus provident quas rem repellat sed sequi suscipit ut veritatis vero? Dolorem, recusandae!
</div>
<div>Ea earum excepturi hic impedit minus nesciunt placeat porro, possimus reprehenderit saepe? Aperiam consequatur
    cumque dolores impedit laboriosam libero neque, nobis perferendis repellendus tempore! Ab architecto nemo ratione
    tempora vitae!
</div>
<div>Delectus dignissimos enim eveniet ex fugiat illo in, incidunt quod sunt ut! Aspernatur autem est, iste maiores
    quidem quisquam repellendus? Accusantium distinctio hic in itaque laborum magni quam quibusdam voluptatibus.
</div>
<div>Accusamus alias amet architecto beatae consectetur consequuntur cum deleniti dolore dolorem ducimus, eius enim esse
    eum explicabo iste magnam maxime nihil nostrum placeat possimus quasi quis repellendus suscipit ut vitae?
</div>
<div>Architecto consequuntur cupiditate delectus dolore dolores earum fugit ipsa ipsum libero molestiae mollitia, nihil
    nobis omnis praesentium quaerat, qui quibusdam saepe sequi temporibus voluptatibus. Adipisci atque exercitationem
    hic sunt veniam.
</div>
<div>A accusamus alias architecto consequuntur deleniti, dicta eligendi eos error facere ipsam molestiae nam natus
    officia quod rerum sit totam voluptatem voluptates. Assumenda at eius, itaque laboriosam pariatur ullam velit?
</div>
<div>Alias assumenda autem dicta, illo impedit ipsum ratione saepe sunt tempore tenetur. Accusantium amet,
    exercitationem fugit iusto libero quidem reprehenderit voluptas voluptatibus! Aliquam aperiam error inventore
    officia provident sed vero!
</div>
<div>Cum, maiores tempora. A eum, incidunt ipsam laboriosam libero, nobis nulla possimus quam sed totam veritatis
    voluptatem voluptates. Ab, assumenda atque dolorem doloremque esse id magnam minus non quaerat sapiente!
</div>
<div>Ad alias aperiam aut commodi cumque delectus esse et eum harum id illum ipsam laboriosam laborum magnam magni neque
    nostrum, nulla officia quam quo recusandae suscipit temporibus? Facilis, fugiat, ipsam.
</div>
<div>Accusamus aspernatur consequatur enim libero molestias nisi quo tempore tenetur vero? Accusantium ad aperiam
    architecto aspernatur, commodi, cum et explicabo impedit laudantium nam numquam pariatur rerum sunt velit veniam
    voluptatum.
</div>
<div>Ab accusamus aliquam, consequatur cum cupiditate doloremque ducimus earum excepturi id ipsa ipsam maxime molestias
    non quidem, quis, quisquam recusandae saepe sed sequi suscipit tempore veniam voluptate? Accusantium, deleniti
    illum?
</div>
<div>Animi aperiam aspernatur culpa cum cumque cupiditate delectus dolorem eaque, earum exercitationem fuga itaque iusto
    magni molestias, nam nihil nobis quae quam quo quos recusandae, sequi tempora vel voluptatem voluptatibus?
</div>
<div>Accusamus ad consectetur, dolore fuga id impedit in laborum minus nihil pariatur provident repellat tempora
    voluptas. Assumenda blanditiis eius illo iusto natus officiis perferendis quod ratione ullam. Atque, minima nihil?
</div>
<div>Alias assumenda atque autem, blanditiis corporis delectus deleniti dicta eveniet ex expedita facilis harum illo
    inventore ipsum modi pariatur perferendis possimus quaerat quas quia repellat saepe sint velit veritatis voluptas!
</div>
<div>Atque dolor magni molestias, quam ratione suscipit voluptatum! Ad aperiam architecto, asperiores aspernatur ea
    facilis iusto labore mollitia porro quis recusandae soluta ullam vel! Illo incidunt inventore nostrum rem sit.
</div>
<div>Accusantium asperiores doloremque ipsam quo saepe tenetur, veniam vero voluptas! Alias atque consequatur illo
    inventore iste mollitia nesciunt nulla, odio omnis quasi quisquam reprehenderit sed soluta suscipit ut vitae
    voluptas!
</div>
<div>Aliquam asperiores blanditiis cum doloremque fugiat, ipsum maxime nesciunt officia quam. Assumenda dignissimos
    impedit quis reprehenderit! Dolorem ducimus explicabo maxime minima nisi praesentium quam repellat! Distinctio
    labore nihil quam repellat?
</div>
<div>Beatae dolorem ea eaque, eius enim eos error ex id labore maxime nostrum quam quas quibusdam ratione recusandae
    tempora tenetur velit veritatis vitae voluptatum. Dolore iure necessitatibus non porro unde!
</div>
<div>Aliquid architecto, delectus, iure molestias neque, non obcaecati quaerat quidem rem sit ut vel veniam voluptates.
    Aliquam at eveniet fugiat ipsam, modi molestiae molestias odio, officia, perspiciatis suscipit totam veniam.
</div>
<div>Assumenda beatae eligendi est fugit harum iste labore laboriosam maxime, nulla quas reprehenderit rerum. Cumque
    dicta, nisi! Aliquid amet asperiores debitis fuga hic minima nemo optio qui quidem quos. Temporibus!
</div>
<div>Ducimus fuga nam sequi! Aperiam consectetur consequuntur dolore doloremque dolorum ducimus exercitationem expedita,
    fuga impedit iste libero magni molestias, nam, omnis pariatur quas qui repudiandae tempore totam ut voluptate
    voluptatum?
</div>
<div>Ab commodi dicta ea, explicabo hic iusto maxime qui vero. A alias aliquam animi dicta, officiis placeat possimus
    quibusdam. Blanditiis cum dolorem ex necessitatibus neque nihil tempora temporibus veniam voluptates?
</div>
{% endblock body %}